
body{
    font-family: 'Merriweather', serif;}
    h1{
        font-size: 50px;
         }
         .blue{
             color: firebrick;
         }

         .flexible-container{
             display: flex;
         }
         .half-width{
             width: 50%;
             padding: 5%;
         }
         .half-width img{
         width: 95%
        }
        .link-button{
            text-decoration: none;
            background: linear-gradient(#e66465, #9198e5);            
            padding: 10px 40px 10px;
            border-radius: 50px;
            font-weight: 500px;
        }
        .middle-banner{
            display: flex;
            background-image: url(images/Frame\ 58.jpg);
            background-size: cover;
            background-repeat: none;  
            
        }
    .half-1 img{
        width: 65%;
        height: 400px;

        float: right;
  
    }
           
.middle-banner{
    width: 100%;
    padding: 10px 10px ;
   
}
.half-2{
    text-align:inherit;
    
}
.my-recipe{
    text-align: center;
        margin: auto;
        width: 50%;
        
        padding: 10px;
      }
      .works{
          width: half-width;
          margin: 5%;
          padding: 10px;
          float: left;
          border-radius: 10px; 
          box-shadow: 5px 5px 30px gray;
          
      }
.works img{
        max-width: 100%;  
        height: auto;  
        position: center;
        }
        

.footer{
  font-size:25px;
  padding-left:40px;
  float:middle;
  word-spacing:20px;
}

.footer {
    position:bottom;
    bottom:0mm;
    width:300%;
    height:200px;  
    background:rgb(85, 97, 32);
 }
.footer h1{
    text-align: center
    color yellow

}

 
    
 